*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  width: 100vw;
}

body {
  font: 20px/1 'Open Sans', sans-serif;
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  background: #9FAFB4; /* Color of the rest of the page */
  padding: 0px 0px 0px 0px; /* Top, Right, Bottom, Left */ 
}


main {	
  min-width: 800px;
  max-width: 800px;
  margin: 0 auto;
  background: #000000; /* Colors the area of the section that holds the tabs */
  padding: 0px 0px 15px 0px; /* Top, Right, Bottom, Left */
}


section {
  display: none;
  border-top: 1px solid #000000; /*Line that separates tab and  text section */
}


input {
  display: none;
}

label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 20px 25px;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  background: #000000;
  border: 0px solid transparent;
}

label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

label[for*='1']:before { }
label[for*='2']:before { }
label[for*='3']:before { }
label[for*='4']:before { }

label:hover {
  color: #ffffff;
  cursor: pointer;
}

/*Controls the properties of the tab which is selected */
input:checked + label {
  color: #009DDC;
  background: #000000;
  border: 0px solid #ddd;
  border-top: 0px solid#009DDC;
  border-bottom: 0px solid #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4{
  display: block;
}



/* ========================================== */
/* NFL Table Style */
/* ========================================== */
	
	.datagrid {
		font: 18px/1 'Open Sans', sans-serif;  		
  		background:#fff;
		overflow: hidden;
  		white-space: nowrap; 
  		border: 1px solid #9FAFB4;
	}
	
	
	.datagrid h1 { 		
  		font-size: 24px;
		text-align: center;
		font-family: 'Open Sans', sans-serif;
	}
	
	
	.datagrid h5 {
  		font-size: 12px;
  		text-align: center;
  		text-decoration: none;
  		font-family: 'Open Sans', sans-serif;
	}
		
	
	.datagrid table { 
		border-collapse: collapse; 
		text-align: left; 
		width: 100%;
	}


	.datagrid table td { 
		padding: 4px 0px 0px 15px; /* Top, Right, Bottom, Left */
		color: #000000;		/*Color of the text in the td */
		font-size: 18px;
		font-weight: bold;
		/*border: 2px solid #9FAFB4;	 Border around the cell */
	}
		
	
	.datagrid table .alt td { 
		padding: 0px 0px 2px 0px; /* Top, Right, Bottom, Left */
		border-left: 0x solid #9FAFB4;
		border-right: 0px solid #9FAFB4;
		border-bottom: 1px solid #9FAFB4;
	}
	
		
	/* SCHEDULE */
	/* ----------------------------------------------- */
	.schedulegrid {
		font: 18px/1 'Open Sans', sans-serif;
		overflow: hidden;
		background: #ffffff;
		border: 0px solid #9FAFB4;	
  		white-space: nowrap;   		
	}

	.schedulegrid h4 { 
		color:#9FAFB4;
		background:#ffffff;
		padding: 0px 0;
		font-size: 14px;
  		font-weight: bold;  		
	} 
		
	.schedulegrid table { 
		border-collapse: collapse; 
		width: 100%; 
	} 
		
	
	.schedulegrid table tr {
		border-left: 0px solid #9FAFB4;
		border-right: 0px solid #9FAFB4;
		border-bottom: 1px solid #9FAFB4;
	}
		
	.schedulegrid table td { 
		padding: 0px 0px; /*Cell vertical space */
		background:#ffffff;
		color: #000000;  /*Color of the text in the td */
		padding: 0px 0px 0px 15px; /* Top, Right, Bottom, Left */
		font-weight: bold;		  
	}
	
	
	/* WINNINGS */
	/* ----------------------------------------------- */
	.wingrid {
		font: 18px/1 'Open Sans', sans-serif;
		overflow: hidden;
		background: #ffffff;
		border: 0px solid #9FAFB4;	
  		white-space: nowrap;   		
	}

	.wingrid h3 { 
		color:#009DDC;
		background:#000000;
		padding: 40px 0px 40px 0px; /* Top, Right, Bottom, Left */
		font-size: 30px;
  		font-weight: bold;
  		text-align: center;
	} 
		
	
	/* ----------------------------------------------- */
	/* Analytics link buttons */
	/* ----------------------------------------------- */
	.Blink {
    	animation: blinker 0.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
	}
	
	@keyframes blinker {  
 		from { opacity: 1; }
  		to { opacity: 0; }
	}

	.nostartButton {
    	background-color: #a0a5a5;
    	border: none;
    	cursor: none;
    	outline:none;
    	padding: 5px 5px 5px 5px; /* Top, Right, Bottom, Left */
    	font-size: 14px;    	
	}
	
	.nostartButton h4 { 
		background:#a0a5a5;
		color:#000000;
		font-size: 12px;
  		font-weight: bold;
  		font-family: 'Open Sans', sans-serif;
	} 

	.winButton {
    	background-color: #27AC44;;
    	border-bottom: 2px solid #27AC44;;
    	outline:none;
    	cursor: none; /* pointer */
    	padding: 4px 0px 4px 0px; /* Top, Right, Bottom, Left */
    	font-size: 12px;
	}
	
	.winButton h4 { 
		background:#27AC44;
		color:#000000;
		font-size: 12px;
		font-weight: bold;
		vertical-align:middle;
		font-family: 'Open Sans', sans-serif;
	} 
			
	.lossButton {
    	background-color: #f46e5f;
    	border-bottom: 2px solid #f46e5f;
    	outline:none;
    	cursor: none;
    	padding: 4px 0px 4px 0px; /* Top, Right, Bottom, Left */
    	font-size: 14px;
    	
	}
	
	.lossButton h4 { 
		background:#f46e5f;
		color:#000000;
		font-size: 12px;
  		font-weight: bold;
  		vertical-align:middle;
  		font-family: 'Open Sans', sans-serif;
	}
	
	
	.tiedButton {
    	background-color:#efd19e;
    	border-bottom: 2px solid #efd19e;
    	border: none;
    	outline:none;
    	cursor: none;
    	padding: 4px 0px 4px 0px; /* Top, Right, Bottom, Left */
    	font-size: 14px;
    	
	}
	
	.tiedButton h4 { 
		background:#efd19e;
		color:#000000;
		font-size: 12px;
  		font-weight: bold;
  		vertical-align:middle;
  		font-family: 'Open Sans', sans-serif;
	}  
	
	