	
	div.newGridTable {
		background-color: #ffffff;	
  		border-collapse: collapse;
  		display: table;
  		width: 100%;
  	}		

	/*--------------------------------------- */
	/*--------------- First Row --------------*/
	/*--------------------------------------- */
	
	.scoreRow{
  		display: table-row;  		  		
  		border: 0px solid #00ff00;  	
	}

	
	.player-icon-cell {
		display: table-cell;
  		width: 5%;
  		background-color: #3F4148;
    	border: 0px solid #00ff00;
    	padding: 15px 0px 15px 10px; /* Top, Right, Bottom, Left */    	
    	
	}
	
	.spacer-cell{
		display: table-cell;
  		width: 1%;
  		position: relative;
    	background-color: #3F4148;
    	padding: 15px 5px 0px 5px; /* Top, Right, Bottom, Left */
	}	


	.score-cell-div{
		display: table-cell;
  		width: 15%;
  		background-color: #3F4148;
  		position: relative;
		border: 0px solid red;
		font-size: 34px;
		font-weight: bold;		
	}
	
	.score-game-not-started {
		color: #6F7178;	   	
	   	padding: 2px 3px 0px 5px; /* Top, Right, Bottom, Left */
	   	border: 0px solid #3F4148;
	}
		
		
	.score-game-won{
		color:#00ff00;	   	
	   	border-right: 0px solid #3F4148;
	   	padding: 2px 3px 0px 10px; /* Top, Right, Bottom, Left */
	}
	
	
	.score-game-tied{
		color:#D6A319;	   	
	   	border-right: 0px solid #3F4148;
	   	padding: 2px 3px 0px 10px; /* Top, Right, Bottom, Left */
	}
	
	
	.score-game-lost{
		color:#ff0000;	   	
	   	border-right: 0px solid #3F4148;
	   	padding: 2px 3px 0px 10px; /* Top, Right, Bottom, Left */
	}
			
	
	.topLeft {
    	position:absolute;
    	margin:0;
    	padding: 0px 10px 0px 0px; /* Top, Right, Bottom, Left */
    	top:0;
    	left:0;
	}

	
	.topRight {
	   	position:absolute;
    	margin:0;    	
    	top:0;
    	right:0;    	
    	padding:10px 10px 0px 0px; /* Top, Right, Bottom, Left */
    	border: 0px solid red;
	}
		
	.bottomLeft {
    	position:absolute;
    	margin:0;
    	padding: 0px 10px 0px 0px; /* Top, Right, Bottom, Left */
    	bottom:0;
    	left:0;    	
	}	
	
	
	.bottomRight {
    	position:absolute;
    	margin:0;
    	padding: 0px 10px 10px 0px; /* Top, Right, Bottom, Left */
    	bottom:0;
    	right:0;    	
	}
	
		
	.backgroundImage{
		position:absolute;
		background-repeat: no-repeat;
		background-position:center bottom;
		z-index: 1;
		opacity: 0.60;
		width:800px;
    	height:110%;
    	filter: alpha(opacity=50); /* For IE8 and earlier */
    	/*padding: 100px 100px 10px 50px; /* Top, Right, Bottom, Left */
	}
	
		  	
	/*--------------------------------------- */
	/*--------------- Second Row --------------*/
	/*--------------------------------------- */

	.secondRow{
	  	display: table-row;
  		width: 100%;
  		height: 20px;
  		  			
  		color:#000000;
  		background-color: #3F4148;
  		border: 0px solid #ffffff;
		text-align: left;
		font-size: 16px;
		font-weight: plain;
  		font-family: 'Open Sans', sans-serif;
	}
			  			  
		  	
  	.totalScore{
  		display: table-cell;
  		width: 3%;
  		font-weight: bold;
  		font-size: 21px;
  		text-align: center;
  		background-color: #3F4148;
  		padding: 0px 20px 10px 14px; /* Top, Right, Bottom, Left */
  		border: 0px solid #ff8000;
	}
	
	
	.result-cell-not-started{
		display: table-cell;
  		width: 10%;
  		position: relative;
  		color: #6F7178;
    	background-color: #3F4148;
    	padding: 11px 2px 0px 0px; /* Top, Right, Bottom, Left */
	}
	
		
	.result-cell-live{
		display: table-cell;
  		width: 10%;
  		position: relative;
  		color: #000000;
    	background-color: #3F4148;
    	padding: 11px 2px 0px 0px; /* Top, Right, Bottom, Left */
	}	
		
		
	.result-cell-finished{
		display: table-cell;
  		width: 10%;
  		position: relative;
  		color: #6F7178;
    	background-color: #3F4148;
    	padding: 11px 2px 0px 0px; /* Top, Right, Bottom, Left */
	}
	
	.result-cell-won{
		display: table-cell;
  		width: 10%;
  		position: relative;
    	color: #00ff00;
    	background-color: #3F4148;    	
    	padding: 11px 2px 0px 0px; /* Top, Right, Bottom, Left */
	}
	
	.result-cell-lost{
		display: table-cell;
  		width: 10%;
  		position: relative;
    	color: #ff0000;
    	background-color: #3F4148;    	
    	padding: 11px 2px 0px 0px; /* Top, Right, Bottom, Left */
	}	
	
	
	.result-cell-tied{
		display: table-cell;
  		width: 10%;
  		position: relative;
    	color: #D6A319;
    	background-color: #3F4148;    	
    	padding: 11px 2px 0px 0px; /* Top, Right, Bottom, Left */
	}
	
	
	.leftDriveInfo{
    	float:left;
    	font-weight: bold;
    	padding: 0px 2px 0px 20px; /* Top, Right, Bottom, Left */    
	}
	
	.rightQuarterInfo {
	   	float:right;
	   	font-weight: bold;
	   	padding: 0px 2px 0px 0px; /* Top, Right, Bottom, Left */
	}
	
	/*--------------------------------------- */
	/*--------------- Stats Row --------------*/
	/*--------------------------------------- */
	
	.statsRow{
  		display: table-row;
  		width: 100%;
  		height: 20px;
  		  			
  		color:#000000;
  		background-color: #ffffff;
		font-weight: plain;
  		font-family: 'Open Sans', sans-serif;
  		
  	}
	
	
	.stats-cell{
		display: table-cell;
  		width: 10%;
  		position: relative;
    	background-color: #3F4148;
	}	
 	  	

	.statsName{
    	float:left;
    	font-size: plain;
    	font-weight: plain;
        padding: 0px 30px 3px 0px; /* Top, Right, Bottom, Left */	
	}
	
	
	.statsDesc{
    	float:right;
    	font-size: 12px;
    	font-weight: plain;
   		padding: 0px 5px 3px 0px; /* Top, Right, Bottom, Left */
    	
	}
	
	