	
	div.newGridTable {
		background-color: #3F4148;	
  		border-collapse: collapse;
  		display: table;
  		width: 100%;
  	}		

	/*--------------------------------------- */
	/*--------------- First Row --------------*/
	/*--------------------------------------- */
	
	.scoreRow{
  		display: table-row;  		  		
  		border: 0px solid green;		
	}

	
	.player-icon-cell {
		display: table-cell;
  		width: 1%;
  		background-color: #3F4148;
    	border: 0px solid #00ff00;
    	padding: 15px 5px 15px 10px; /* Top, Right, Bottom, Left */
	}

	
	/* Displays team icons */
	.score-cell-icon-div{
		display: table-cell;
  		position: relative;
  		width: 5%;
  		background-color: #3F4148;  		
		border: 0px solid red;		
		padding: 5px 0px 2px 1px; /* Top, Right, Bottom, Left */    			
	}
	
	
	
	.topLeft {
    	position:absolute;
    	margin:0;
    	padding: 0px 0px 0px 0px; /* Top, Right, Bottom, Left */
    	top:0;
    	left:0;
    	border: 0px solid blue;
	}
	
				
	.bottomLeft {
    	position:absolute;
    	margin:0;
    	padding: 0px 0px 0px 0px; /* Top, Right, Bottom, Left */
    	bottom:0;
    	left:0;    	
	}	
	

	/* Displays score per quarter */
	.quarter-score-cell-div{
		display: table-cell;
		position: relative;
  		width: 8%;
  		color:#6F7178;  		
  		background-color: #3F4148;  		
  		font-size: 15px;
		font-weight: plain;
		border: 0px solid green;				    		
	}
	
		
	.topRightQuarter{
    	position:absolute;
    	margin:0;
    	top:0;
    	right:0;
    	text-align: right;
    	padding: 25px 0px 0px 0px; /* Top, Right, Bottom, Left */    	    	
    	border: 0px solid yellow;
	}
				
	
	.bottomRightQuarter{
    	position:absolute;
    	margin:0;
    	bottom:0;
    	right:0;
    	text-align: right;
    	padding: 0px 0px 15px 0px; /* Top, Right, Bottom, Left */    	    	
    	border: 0px solid blue;
	}
	

	.score-cell-div{
		display: table-cell;
  		position: relative;
  		width: 4%;
  		background-color: #3F4148;  		
		border: 0px solid red;		
		padding: 2px 0px 2px 1px; /* Top, Right, Bottom, Left */    			
	}
	
	
	.score-game-not-started {
		color: #6F7178;	   	
	   	padding: 2px 3px 0px 5px; /* Top, Right, Bottom, Left */
	   	border: 0px solid #3F4148;
	}
	
	
	.score-game-finished{
		color: #6F7178;
	   	border-right: 0px solid #3F4148;
	   	padding: 2px 3px 0px 10px; /* Top, Right, Bottom, Left */
	}	
		
	.score-game-won{
		color:#00ff00;	   	
	   	border-right: 0px solid #3F4148;
	   	padding: 2px 3px 0px 10px; /* Top, Right, Bottom, Left */
	}
	
	
	.score-game-tied{
		color:#D6A319;	   	
	   	border-right: 0px solid #3F4148;
	   	padding: 2px 3px 0px 10px; /* Top, Right, Bottom, Left */
	}
	
	
	.score-game-lost{
		color:#ff0000;	   	
	   	border-right: 0px solid #3F4148;
	   	padding: 2px 3px 0px 10px; /* Top, Right, Bottom, Left */
	}
			

	.topRight {
	   	position:absolute;
    	margin:0;    	
    	top:0;
    	right:0;    	
    	font-size: 34px;
		font-weight: bold;
    	padding:10px 0px 0px 0px; /* Top, Right, Bottom, Left */    	
	}
	
	
	.bottomRight {
    	position:absolute;
    	margin:0;
    	font-size: 34px;
		font-weight: bold;
    	padding: 0px 0px 10px 0px; /* Top, Right, Bottom, Left */
    	bottom:0;
    	right:0;    	
	}


	
	
	.spacer-cell{
		display: table-cell;
  		width: 1%;
  		position: relative;
    	background-color: #3F4148;
    	padding: 15px 5px 0px 5px; /* Top, Right, Bottom, Left */
	}	
	
	
		
	.backgroundImage{
		position:absolute;
		background-repeat: no-repeat;
		background-position:center bottom;
		z-index: 1;
		opacity: 0.60;
		width:800px;
    	height:110%;
    	filter: alpha(opacity=50); /* For IE8 and earlier */
    	/*padding: 100px 100px 10px 50px; /* Top, Right, Bottom, Left */
	}
		
		  	
	/*--------------------------------------- */
	/*--------------- Second Row --------------*/
	/*--------------------------------------- */

	.secondRow{
	  	display: table-row;
  		color:#000000;
  		background-color: #3F4148;
  		border: 0px solid #ffffff;
		text-align: left;
		font-size: 14px;
		font-weight: plain;
  		font-family: 'Open Sans', sans-serif;  		
	}
			  			  
		  	
  	.totalScore{
  		display: table-cell;
  		width: 1%;
  		font-weight: bold;
  		font-size: 20px;
  		text-align: center;
  		color: #ffffff;
  		background-color: #3F4148;
  		padding: 2px 25px 2px 25px; /* Top, Right, Bottom, Left */
  		border: 0px solid #0000ff;
	}
	
	
	.result-cell-not-started{
		display: table-cell;
  		width: 6%;
  		position: relative;
  		color: #6F7178;
    	background-color: #3F4148;
    	padding: 2px 0px 2px 0px; /* Top, Right, Bottom, Left */
	}
	
	
	.result-cell-finished{
		display: table-cell;
  		width: 6%;
  		position: relative;
  		color: #6F7178;
    	background-color: #3F4148;
    	padding: 2px 0px 2px 0px; /* Top, Right, Bottom, Left */
	}
			
	.result-cell-finished{
		display: table-cell;
  		width: 6%;
  		position: relative;
  		color: #6F7178;
    	background-color: #3F4148;
    	padding: 2px 0px 2px 0px; /* Top, Right, Bottom, Left */
	}
	
	.result-cell-won{
		display: table-cell;
  		width: 6%;
  		position: relative;
    	color: #00ff00;
    	background-color: #3F4148;    	
    	border: 0px solid #ffffff;    	
    	padding: 2px 0px 2px 0px; /* Top, Right, Bottom, Left */
	}
	
	.result-cell-lost{
		display: table-cell;
  		width: 6%;
  		position: relative;
    	color: #ff0000;
    	background-color: #3F4148;
    	padding: 2px 0px 2px 0px; /* Top, Right, Bottom, Left */
	}	
	
	
	.result-cell-tied{
		display: table-cell;
  		width: 6%;
  		position: relative;
    	color: #D6A319;
    	background-color: #3F4148;
    	padding: 2px 0px 2px 0px; /* Top, Right, Bottom, Left */
	}
	
	
	.quarter-cell{
		display: table-cell;
  		width: 6%;
  		position: relative;
    	color: #ffffff;
    	background-color: #3F4148;
    	border: 0px solid #ff0080;
    	padding: 2px 0px 2px 0px; /* Top, Right, Bottom, Left */
	}
	
	
	.leftQuarterInfo{
    	float:left;
    	padding: 0px 0px 0px 0px; /* Top, Right, Bottom, Left */
    	border: 0px solid #ffff00;
	}
	
	

	/*--------------------------------------- */
	/*--------------- Stats Row --------------*/
	/*--------------------------------------- */

		
	.thirdRow{
	  	display: table-row;
  		color:#000000;
  		background-color: #3F4148;
  		text-align: left;
		font-size: 14px;
		font-weight: plain;
  		font-family: 'Open Sans', sans-serif;  		
  		border-bottom: 0px solid #ffffff;
  		
	}

	
	.totalScoreHidden{
  		display: table-cell;
  		width: 1%;
  		font-weight: bold;
  		font-size: 20px;
  		text-align: center;
  		color: #3F4148;
  		background-color: #3F4148;
  		padding: 2px 25px 5px 25px; /* Top, Right, Bottom, Left */
  		border: 0px solid #0000ff;
	}
	
	
	.result-cell-not-started-Hidden{
		display: table-cell;
  		width: 6%;
  		position: relative;
  		color: #3F4148;
    	background-color: #3F4148;
    	padding: 2px 0px 5px 0px; /* Top, Right, Bottom, Left */
	}
	
	
		
	.drive-cell{
		display: table-cell;
  		width: 6%;
  		position: relative;
    	color: #ffffff;
    	background-color: #3F4148;
    	border: 0px solid #ff0080;
    	padding: 2px 0px 5px 0px; /* Top, Right, Bottom, Left */
	}
	
	
	.leftDriveInfo{
    	float:left;
    	padding: 0px 0px 0px 0px; /* Top, Right, Bottom, Left */    
		border: 0px solid #ff0080;
	}
	
		
	