	/* Login Form -------------------------------------- */
	/* ------------------------------------------------- */
	
	/* Bordered form */
	.loginForm form {
    	border: 0px solid #000000;
    	text-align: center;
	}

	
	/* Full-width inputs */
	.loginForm input[type=text], .loginForm input[type=password] {
    	width: 100%;
    	padding: 15px 40px 15px 40px;   /* Top, Right, Bottom, Left */
    	display: inline-block;
    	border: 0px solid #ccc;
    	box-sizing: border-box;
    	font-size: 30px;
    	font-weight: bold;
    	text-align: center;
    	background-color:#ffffff;
    	color:#000000;  
	}

	.loginForm button {
    	background-color:#000000;
    	color: #009DDC;  
    	padding: 15px 40px 15px 40px;   /* Top, Right, Bottom, Left */ 
    	border: none;
    	cursor: pointer;
    	width: 100%;
    	font-size: 30px;
  		font-weight: bold;
	}
