<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<display-name>DDP NFL Web</display-name>
   	
    <context-param>
        <param-name>APP_VERSION</param-name>
        <param-value>5.0</param-value>
    </context-param>
    
    <context-param>
        <param-name>NFL_SEASON_OVER</param-name>
        <param-value>false</param-value>
    </context-param>
    
    <context-param>
        <param-name>NFL_SEASON_TYPE</param-name>
        <param-value>REG</param-value>
    </context-param>
    
    <context-param>
        <param-name>NFL_START_DATE</param-name>
        <param-value>2020-09-10</param-value>
    </context-param>
        
    <context-param>
        <param-name>NFL_WEEK_NUMBER</param-name>
        <param-value>7</param-value>
    </context-param>
        
    <context-param>
        <param-name>CASH_PER_WEEK</param-name>
        <param-value>50</param-value>
    </context-param>
            
    <context-param>
        <param-name>LOGGER_CONFIG</param-name>
        <param-value>WEB-INF/logback.xml</param-value>
    </context-param>
    
    
</web-app>
