<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<display-name>DDP NFL Web</display-name>
   	
    <context-param>
        <param-name>APP_VERSION</param-name>
        <param-value>2.0</param-value>
    </context-param>
    
    <context-param>
        <param-name>NFL_SEASON_TYPE</param-name>
        <param-value>REG</param-value>
    </context-param>
    
    <context-param>
        <param-name>NFL_YEAR</param-name>
        <param-value>2018</param-value>
    </context-param>
        
    <context-param>
        <param-name>NFL_WEEK_NUMBER</param-name>
        <param-value>5</param-value>
    </context-param>
    
    <context-param>
        <param-name>CASH_PER_WEEK</param-name>
        <param-value>40</param-value>
    </context-param>
        
    <context-param>
        <param-name>LOGGER_CONFIG</param-name>
        <param-value>WEB-INF/logback.xml</param-value>
    </context-param>
    
    <context-param>
        <param-name>RDS_DRIVER</param-name>
        <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </context-param>
    
    <context-param>
        <param-name>RDS_HOST</param-name>
        <param-value>aa15utan83usopw.ceanhhiadqb0.us-east-2.rds.amazonaws.com</param-value>
    </context-param>
    
    <context-param>
        <param-name>RDS_PORT</param-name>
        <param-value>3306</param-value>
    </context-param>
    
  	<context-param>
        <param-name>RDS_DB_NAME</param-name>
        <param-value>WonneDB</param-value>
    </context-param>

    
</web-app>
